# Database
DATABASE_URL=

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Cohere AI
COHERE_API_KEY=

# Grok
GROQ_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Uploadthing
UPLOADTHING_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000